body {
    background: #f2f2f2;
    line-height: 1.5;
    font-family: 'ABeeZee', sans-serif;
}

p {
    margin: 0px;
}
a{
    font-style: italic;
}

h1,
h2 {
    margin: 0px;
}

h1 {
    margin: 5px auto;
}

h2 {
    margin: 5px auto;
}

h3 {
    margin: 10px auto;
    line-height: 1em;
}

img {
    max-width: 100%;
}

.container {
    max-width: 960px;
    margin: 40px auto;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    text-align: left;
}
.contact{
    color: white;
}

.contact ul{
    list-style-type: none;
    margin: 0px;
    padding:0px;
}
.links ul li{
    margin: 10px auto;
}
.links ul li i {
    padding-right: 15px;
}

section {
    padding: 20px;
    
}

.header {
    background: #374458;
    display: flex;
    /* justify-content: space-between; */
    color: white;
}

.avater {
    width: 300px;
    border-radius: 340px;


}

.avater-back {
    margin: 0px auto;
    /* padding: 4px; */
    border-radius: 150px;
    width: 80%;
    border: 4px #4f90cd solid;

}

.name {
    text-transform: capitalize;
    font-weight: 100;
    font-size: 2em;
}

.job-title {
    color: #4f90cd;
    font-weight: 100;
}

.about-me {
    font-weight: 100;
    font-size: 1em;
}

.contact {
    background: #2b343f;
}

.content div {
    /* margin: 50px auto; */
    border: 100px;
    border-color: black;

}

.item-title-div {
    border: 20px solid red;
}

.item-title {
    text-transform: uppercase;
    color: #4f90cd;
    text-decoration: underline;
    font-size: 1.5em;
}

.item-name {
    font-weight: bolder;
}

.item-loction {
    font-weight: 100;
}

.item-div {
    margin-bottom: 35px;
    font-size: 1.2em;
}

.data-location,
.task {
    display: flex;
    justify-content: space-between;
    color: #4f90cd;
    font-style: italic;
    margin: 3px auto;
}

.box-ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.box-ul li {
    background-color: #4f90cd;
    color: white;
    padding: 4px;
    text-transform: capitalize;
    border-radius: 4px;
    margin: 5px;
}

.intersts .box-ul li {
    background-color: white;
    color: black;
    border: 2px #c5c5c5 solid;
}
.small-text{
    color: #c5c5c5;
     font-style: italic;
     margin-bottom: 15px;

}

.links{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}
.photo{
    margin: 0px auto;
}
@media only screen and (max-width:600px){

    .header{
        flex-wrap: wrap-reverse;
    }

    .avater-back{
        width: 50%;
    }
    .links{
         grid-template-columns: 1fr;
    }

}
